# VerificationStatus

## Example Usage

```typescript
import { VerificationStatus } from "@wingspan/payments/sdk/models/shared";

let value: VerificationStatus = "Failed";
```

## Values

```typescript
"None" | "Pending" | "Failed" | "Verified"
```